.places__paragraph {
  font-size: 18px;
  line-height: 29px;
  grid-column: 2;
  margin: 0 0 26px 0;
}

.places__paragraph:last-of-type {
  padding-top: 0px;
}

@media screen and (max-width: 1024px) {
  .places__paragraph:last-of-type {
    margin: 0;
  }
}

@media screen and (max-width: 880px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .places__paragraph {
    grid-column: 1;
    margin-left: 16px;
    margin-right: 16px;
  }

  .places__paragraph:last-of-type {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .places__paragraph {
    margin: 0 auto 25px auto;
    max-width: 90%;
  }

  .places__paragraph:last-of-type {
    margin: 0 auto;
  }
}
