.places__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 0 48px 0;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .places__website {
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .places__website {
    margin: 32px 16px;
  }
}

